@import url(variables.css);

/* 1. SECCIÓN Hero (parte principal)*/

.section{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--white-prin);
}

.hero{
    background-color: var(--red-prin);
}
.hero__title{
    font-family: var(--font-prin);
    text-align: center;
    font-size: 10em;
    font-style: italic;
    font-weight: bold;
}
.asterisco{
    color: var(--white-prin);
}

/* 2. SECCIÓN de la propuesta de valor*/

.worth{
    margin: 0px;
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-position: right;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-prin); 
    text-align: center;
    padding: 0 20px;
}
.worth__content {
    max-width: 800px;
}
.worth__title {
    font-family: var(--font-prin);
    font-size: 4rem; 
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    color: var(--white-prin);
}

.worth__subtitle {
    font-family: var(--font-pixel);
    font-size: 2rem;
    color: var(--grey-sec); 
    margin-bottom: 40px;
}
.bienvenido{
    color: var(--white-prin);
}


/* 3. SECiÓN de la prpuesta partners */

.partners{
    border-top: 2px solid var(--white-prin);
}
.partner__title{
    text-align: center;
    color: var(--white-prin);
    max-width: 800px;
}

@media (max-width: 768px) {
    .hero__title {
        margin-top: 15%;
        font-size: 4rem;
        overflow-wrap: break-word;
    }
    .hero {
        min-height: 50vh;
    }
    .worth__title {
        font-size: 2.2rem;
    }
    .worth__subtitle {
        font-size: 1.2rem;
    }
    .tittle__1 {
        margin-top: 10%;
        font-size: 2.2rem;
    }
    .problem__subtitle {
        font-size: 1.2rem;
    }
    .problem__list {
        grid-template-columns: 1fr;
        margin: 5px;
    }
}
