:root {
    --red-prin: #ff0000;
    --white-prin: #ffffff;
    --dark-prin: #000;
    --grey-prin: #444444;

    --grey-sec: #aaa;

    --font-prin: "Times New Roman", "Libre Baskerville", serif;
    --font-pixel: "Bitcount Grid Single", system-ui;
    --font-mono:"JetBrains Mono", monospace;
}
.bitcount-grid-single-fontsecun {
  font-family: var(--font-pixel);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
    width: 100%;
    background-color: var(--red-prin);
}

/*Menu de navegación*/
/*quitar las decoraciones de los enlaces*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-family: var(--font-pixel);
    font-size: 40px;
    background-color: var(--white-prin);
    border-bottom: 2px solid var(--dark-prin);
    padding: 10px 0; /* Padding de escritorio por defecto */
    box-sizing: border-box; 
}

.asterisco-rojo {
    display: inline-block;
    color: var(--red-prin);
    transition: transform 0.3s ease;
    transform-origin: 45% 50%;
}

nav a {
    text-decoration: none;
    color: var(--dark-prin);
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--grey-prin);
}


nav a:hover .asterisco-rojo {
    transform: rotate(90deg);
}

#menu-toggle,
.menu-btn {
    display: none;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    max-height: 200px;
    opacity: 1;
    visibility: visible;
}

header nav li {
    margin: 0;
    width: auto;
}

nav a {
    display: inline-block; 
    padding: 0;
}


/*ESTILOS RESPONSIVE*/

@media (max-width: 1550px) {
    header {
        padding: 10px 20px;
    }
    header nav {
        justify-content: flex-end;
    }
    .menu-btn {
        display: block;
        cursor: pointer;
        user-select: none;
        z-index: 102; 
        position: relative; 
    }
    .menu-btn .asterisco-rojo {
        transition: transform 0.3s ease-out;
    }
    header nav ul {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: max-height 0.4s ease-out, opacity 0.3s ease-in, visibility 0.4s linear;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--white-prin);
        border-top: 2px solid var(--dark-prin);
        border-bottom: 2px solid var(--dark-prin);
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        gap: 0;
    }
    header nav li {
        width: 100%;
        text-align: center;
    }
    nav a {
        display: block;
        padding: 10px 0;
    }
    #menu-toggle:checked ~ .menu-btn .asterisco-rojo {
        transform: rotate(90deg);
    }
    #menu-toggle:checked ~ ul {
        max-height: 100vh;
        opacity: 1;
        visibility: visible;
    }
}


/* 1. SECCIÓN Hero (parte principal)*/

.hero{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--white-prin);
}
.hero__title{
    font-family: var(--font-prin);
    text-align: center;
    font-size: 10em;
    font-style: italic;
    font-weight: bold;
}
.asterisco{
    color: var(--white-prin);
}

/* 2. SECCIÓN de la propuesta de valor*/

.worth{
    margin: 0px;
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-position: right;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-prin); 
    text-align: center;
    padding: 0 20px;
}
.worth__content {
    max-width: 800px;
}
.worth__title {
    font-family: var(--font-prin);
    font-size: 4rem; 
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    color: var(--white-prin);
}

.worth__subtitle {
    font-family: var(--font-pixel);
    font-size: 2rem;
    color: var(--grey-sec); 
    margin-bottom: 40px;
}
.bienvenido{
    color: var(--white-prin);
}
.worth__cta-button {
    font-family: var(--font-pixel);
    display: inline-block; 
    font-size: 1.2rem;
    color: var(--dark-prin); 
    background-color: var(--white-prin); 
    padding: 15px 30px;
    text-decoration: none;
    border: 2px solid var(--white-prin);
    border-radius: 5px;
    transition: all 0.3s ease; 
    margin-bottom: 10px;
}

.worth__cta-button:hover {
    background-color: transparent; 
    color: var(--white-prin); 
}

/* 3. SECCIÓN problema*/

.problem{
    background-color: var(--white-prin);
    color: var(--dark-prin);
    font-family: var(--font-prin);
    min-height: 90vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image:
        radial-gradient(circle, rgba(255, 0, 0, 1) 1px, transparent 1px),
        linear-gradient(35deg, var(--white-prin), #ff6b6b);
    background-size: 20px 20px, 100% 100%;
    animation: mover-puntos 4s linear infinite;
    border-top: 2px solid var(--white-prin);
    /* background-image: radial-gradient(circle, rgb(255, 0, 0) 1px, transparent 1px);
    background-size: 3px 3px; /* Tamaño de cada punto */
}

@keyframes mover-puntos {
  from { background-position: 0 0, 0 0; }
  to { background-position: 20px 20px, 0 0; }
}
.problem__tittle{
    padding: 15px;
    margin-bottom: 15px;
    font-size: 4rem;
    color: var(--dark-prin);
    font-style: italic;
    transition: opacity 0.5s ease;
}

.red{
    color: var(--red-prin);
    transition: opacity 0.5s ease;
}
.problem__subtitle {
    font-family: var(--font-pixel);
    padding: 15px;
    font-size: 2rem;
    max-width: 700px;     /* Opcional: limita el ancho máximo */
    margin: 0 auto;       /* Centra horizontalmente */
    text-align: center;   /* Centra el texto */
    color: var(--grey-prin);

}
.problem__list{
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 10px;
    max-width: 1200px;
}

.problem__item__box p{
    font-family: var(--font-mono);
    font-weight: bold;
    color: #252525;
}
.problem__item__box{
    backdrop-filter: blur(2.5px);            /* Difumina el fondo */
    -webkit-backdrop-filter: blur(2.5px);    /* Compatibilidad con Safari */
    border: 2px solid var(--white-prin);
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    transition: backdrop-filter 0.3s ease, 
                transform 0.3s ease, 
                border-color 0.3s ease;
}

.problem__item__box:hover{
    border: 2px solid var(--red-prin);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transform: scale(1.03);
}

.problem__item__tittle{
    text-align: left;
    font-size: 2rem;
    font-family: var(--font-pixel);
    color: var(--dark-prin);
}
.problem__item__tittle span{
    color: var(--red-prin);
}
.porcent{
    font-family: var(--font-pixel);
    font-size: 3rem;
    color: var(--red-prin);
}



@media (max-width: 768px) {
    .problem__list {
        grid-template-columns: 1fr; /* una única columna */
    }
    .hero__title {
        margin-top: 15%;
        
        font-size: 5em;
    }
    .hero{
        min-height: 50vh;
    }
    .worth__title{
        font-size: 2.95em;
    }
    .problem__tittle{
        margin-top: 10%;
        font-size: 2.95em;
    }
}
