/* Tipgrafia secundartia*/
.bitcount-grid-single-fontsecun {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Menu de navegación*/
/*quitar las decoraciones de los enlaces*/
header {
    position: fixed; /* Fija el header en la pantalla */
    top: 0;          /* Lo posiciona en la parte superior */
    left: 0;         /* Lo posiciona a la izquierda */
    width: 100%;     /* Hace que ocupe todo el ancho */
    z-index: 100;    /* Asegura que esté por encima de otro contenido */
    font-family: "Bitcount Grid Single", system-ui;
    font-size: 40px;
    background-color: white;
    text-align: center;
    padding: 10px;
    padding: 10px 0;
    border-bottom: 2px solid #000;
    
}
ul{
    display: flex;
    justify-content: center; /* Añadimos esta línea para centrar los elementos */
    
}
li{
    margin-left: 15px;
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}
header nav ul li a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.692);
}
.asterisco-rojo{
    color: red;
}

body{
    background-color: red;
}

/* 1. SECCIÓN Hero (parte principal)*/

.hero{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__title{
    font-family: "Times New Roman", "Tinos", "Libre Baskerville" Times, serif;
    text-align: center;
    font-size: 10em;
    font-style: italic;
    font-weight: bold;
}
.asterisco{
    color: white;
}

/* 2. SECCIÓN de la propuesta de valor*/

.worth{
    margin: 0px;
    
    /*Poner imagen de fondo*/
    background-image: url("img/fondo.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 90vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000; 
    text-align: center;
    padding: 0 20px; /* Espaciado para móviles */
}
.worth__content {

    max-width: 800px; /* Evita que el texto sea demasiado ancho */
}
.worth__title {
    font-family: "Times New Roman", "Libre Baskerville" Times, serif;
    font-size: 4rem; 
    font-style: italic;
    font-weight: bold;
    line-height: 1.2; /* Espacio entre líneas */
    margin-bottom: 20px;
    color: white;
}

.worth__subtitle {
    font-family: "Bitcount Grid Single", system-ui;
    font-size: 2rem;
    color: #aaa; 
    margin-bottom: 40px;
}

.worth__cta-button {
    font-family: "Bitcount Grid Single", system-ui;
    display: inline-block; 
    font-size: 1.2rem;
    color: #111; 
    background-color: white; 
    padding: 15px 30px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    transition: all 0.3s ease; 
}

.worth__cta-button:hover {
    background-color: transparent; /* Fondo transparente */
    color: white; /* Texto blanco */
}