
.hero__aboutus{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--white-prin);
    background-color: var(--dark-prin);
}

