
.hero__aboutus{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--white-prin);
    background-color: var(--dark-prin);
}
.hero__aboutus h1{
    margin-bottom: 50px;
    color: var(--white-prin);
}
.hero__aboutus p{
    color: blue;
}